.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
}

.bgBlue{
  background-color: rgb(139, 223, 253);
  font-size: 14pt;
  font-weight: bold;
}

.logoutLink{
  margin-left: 25%;
  font-size: 12pt;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
}

.active{
  background-color: rgb(225, 247, 255);
}