/* You can add global styles to this file, and also import other style files */
@import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css');

input.ng-valid, .ng-valid.required  {
    border-left: 5px solid #42A948; /* green */
  }
  
  input.ng-invalid  {
    border-left: 5px solid #a94442; /* red */
  }

  .alert.alert-danger.valContainer{
    height: 15px;
    font-size: 0.7em;
}

.headerText{
  font-size: 2em;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  text-align: center;
}